@media only screen and (min-width: 991px) {



.seBorraEnGrande {
        display: none !important;
    }

 

}




@media only screen and (max-width: 991px) {

    .cadaUnoDelCatalogo {
        height: 260px;
        width: 310px;
        float: left;
        margin: 2px !important;
        padding: 5px;
        border: solid;
    }

}

.footer {
    width: 80% !important;
}


